<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgKl5EXbRQU9klfPc_CRKveyr0UTa-l0g</string>
	<key>GCM_SENDER_ID</key>
	<string>1074983642050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiro8277.reactnativetextmlkittextrecognition3</string>
	<key>PROJECT_ID</key>
	<string>ocr-app-57271</string>
	<key>STORAGE_BUCKET</key>
	<string>ocr-app-57271.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074983642050:ios:2c9c455d88ea3c18ac2c5b</string>
</dict>
</plist>